body {
  margin: 0;
  padding: 0%;
  font-family: "Satoshi", sans-serif;
}
* {
  margin: 0%;
  padding: 0%;
}
#hide-show {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  min-width: 400px;
  height: 100%;
  /* margin-left: auto;
    margin-right: auto; */
  justify-content: center;
  background-color: gray;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
}
#your-data {
  width: 100%;
  max-width: 400px;
  height: 100%;
  justify-content: center;
  background-color: gray;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  height: 100%;
  max-height: 500px;
  min-height: 500px;
  margin-top: 10px;
  /* margin: auto; */
  display: none;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.username {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
#username {
  padding: 12px;
  border: 1px solid red;
  border-radius: 8px;
}
.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
#email {
  padding: 12px;
  border: 1px solid red;
  border-radius: 8px;
}
.password {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
#password {
  padding: 12px;
  border: 1px solid red;
  border-radius: 8px;
}
.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
#phone {
  padding: 12px;
  border: 1px solid red;
  border-radius: 8px;
}
.button {
  margin-top: 30px;
  margin-bottom: 30px;
}
#button {
  border-radius: 8px;
  color: green;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid green;
  background: linear-gradient(to left, lightblue, yellow);
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.5s;
  width: 100%;
  max-width: 188px;
  min-width: 188px;
}
#button:hover {
  background: linear-gradient(to left, yellow, lightblue);
  transition: 0.5s;
}
.popup {
  display: none;
  width: 100%;
}
.content {
  position: absolute;
  top: 60%;
  left: 42%;
  right: 0;
  bottom: 0;
  margin-top: -150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  max-width: 200px;
  height: 100%;
  gap: 15px;
  max-height: 150px;
  border-radius: 12px;
}
.press {
  width: 100%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}
.content-heading {
  font-weight: bolder;
}
.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
#close {
  background: yellow;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.5s;
  border-radius: 8px;
  border: 1px solid red;
  color: red;
}
#close:hover {
  background: red;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.5s;
  border-radius: 8px;
  border: 1px solid yellow;
  color: yellow;
}

.show-hide {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}
span {
  font-size: 20px;
  font-weight: bolder;
  color: blue;
  font-style: italic;
}
.email-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  gap: 12px;
}
.password-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  gap: 12px;
}
.phone-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  gap: 12px;
}
.entered-username {
  font-size: larger;
  font-weight: bolder;
  color: white;
}
.entered-email {
  font-size: larger;
  font-weight: bolder;
  color: white;
}
.entered-password {
  font-size: larger;
  font-weight: bolder;
  color: white;
}
.entered-phone {
  font-size: larger;
  font-weight: bolder;
  color: white;
}
.username-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  gap: 12px;
}
.email-show {
  font-size: 20px;
  font-weight: bolder;
  color: blue;
  font-style: italic;
}
.password-show {
  font-size: 20px;
  font-weight: bolder;
  color: blue;
  font-style: italic;
}
.phone-show {
  font-size: 20px;
  font-weight: bolder;
  color: blue;
  font-style: italic;
}
