body{
    margin: 0;
    padding: 0%;
}
#hide-show{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    min-width: 400px;
    height: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    justify-content: center;
    background-color: gray;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
}
#your-data{
    width: 100%;
    max-width: 400px;
    height: 100%;
    justify-content: center;
    background-color: gray;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    height: 100%;
    max-height: 562px;
    min-height: 562px;
    display: none;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.username{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
#username{
    padding: 12px;
    border: 1px solid red;
    border-radius: 8px;
}
.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
#email{
    padding: 12px;
    border: 1px solid red;
    border-radius: 8px;
}
.password{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
#password{
    padding: 12px;
    border: 1px solid red;
    border-radius: 8px;
}
.phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
#phone{
    padding: 12px;
    border: 1px solid red;
    border-radius: 8px;
}
.button{
    margin-top: 30px;
   margin-bottom: 30px;
}
#button{
    border-radius: 8px;
    color: green;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid green;
    background: red;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.5s;
}
#button:hover{
    background-color: green;
    border: 1px solid red;
    color: red;
    transition: 0.5s;
}
.popup{
    display: none;
   width: 100%;
   height: 100%;
   z-index: 100;
}
.content{
    position: absolute;
    top: 60%;
    left: 42%;
    right: 0;
    bottom: 0;
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 150px;
    border-radius: 12px;
}
.content-heading{
    font-weight: bolder;
}
.button-close{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#close{
    background: yellow;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.5s;
    border-radius: 8px;
    border: 1px solid red;
    color: red;
}
#close:hover{
    background: red;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.5s;
    border-radius: 8px;
    border: 1px solid yellow;
    color: yellow;
}
.show-data{
    display: flex;
    gap: 40px;
    background-color: orange;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: none;
    width: 100%;
    max-width: 400px;
    min-width: 400px;
    max-height: 542px;
    min-height: 542px;
}
.show-hide{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}
span{
    font-size: 20px;
    font-weight: bolder;
    color: white;
}